pip
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash_bootstrap_components
dash-table==5.0.0
numpy==2.2.2
pandas==2.2.3
plotly==6.0.0
gunicorn
dash_daq==0.5.0
dash_ag_grid==31.3.0
pandas==2.2.3
dash-renderer==1.9.1
